In [1]:
#Import the required Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from ydata_profiling import ProfileReport

## Data Cleaning

### Data Reading & Data Types

In [2]:
#Read the data in pandas
inp0= pd.read_csv(r"C:\Users\babas\OneDrive\Desktop\data analysis\Attribute DataSet.csv")
inp1= pd.read_csv(r"C:\Users\babas\OneDrive\Desktop\data analysis\Dress Sales.csv")

In [3]:
inp0

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,990559192,Brief,Average,4.7,M,winter,o-neck,halfsleeve,acrylic,chiffon,NaN,striped,0
475,713391965,Casual,Low,4.7,M,Spring,o-neck,full,polyster,NaN,NaN,solid,1
476,532874347,Casual,Average,4.7,M,Summer,v-neck,full,cotton,NaN,lace,solid,1
477,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,silk,broadcloth,applique,print,1
478,919930954,Casual,Low,4.4,free,Summer,v-neck,short,cotton,Corduroy,lace,solid,0

In [4]:
profile = ProfileReport(inp0)

In [5]:
profile.to_file("report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

You have “Attribute DataSet” which contains a column named “Price”. Choose the correct statement from the following about its data type and variable type.
- Integer type and numerical variable
- Object type and categorical ordinal variable
- Object type and categorical nominal variable
- Float type and categorical variable.

There is another column in “Attribute DataSet” named as “Recommendation”, choose the correct statement about its data type and variable type.
- Integer type and categorical
- Object type and categorical
- Integer type and continuous numerical
- Object type only.

Which of the following column do you think are of no use in “Attribute DataSet”.
- Dress_ID
- Price
- Size and material
- NeckLine
- None of the above

### Fixing the Rows and Columns

In [6]:
# Print the information about the attributes of inp0 and inp1.
inp0.info()
inp1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Dress_ID        479 non-null    int64
 1   Style           479 non-null    object
 2   Price           477 non-null    object
 3   Rating          479 non-null    float64
 4   Size            479 non-null    object
 5   Season          477 non-null    object
 6   NeckLine        476 non-null    object
 7   SleeveLength    477 non-null    object
 8   Material        360 non-null    object
 9   FabricType      223 non-null    object
 10  Decoration      255 non-null    object
 11  Pattern Type    377 non-null    object
 12  Recommendation  479 non-null    int64
dtypes: float64(1), int64(2), object(10)
memory usage: 48.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Dress_ID    479 non-null    float64
 1   29-08-2013  479 non-null    int64
 2   31-08-2013  479 non-null    int64
 3   09-02-2013  479 non-null    int64
 4   09-04-2013  479 non-null    int64
 5   09-06-2013  479 non-null    int64
 6   09-08-2013  479 non-null    int64
 7   09-10-2013  479 non-null    int64
 8   09-12-2013  479 non-null    object
 9   14-09-2013  479 non-null    object
 10  16-09-2013  479 non-null    object
 11  18-09-2013  479 non-null    object
 12  20-09-2013  479 non-null    object
 13  22-09-2013  479 non-null    object
 14  24-09-2013  479 non-null    int64
 15  26-09-2013  257 non-null    float64
 16  28-09-2013  479 non-null    int64
 17  30-09-2013  222 non-null    float64
 18  10-02-2013  220 non-null    float64
 19  10-04-2013  221 non-null    float64
 20  10-06-2013  479 non-null    int64
 21  10-08-2013  224 non-null    float64
 22  10-10-2013  224 non-null    float64
 23  10-12-2013  479 non-null    int64
dtypes: float64(7), int64(11), object(6)
memory usage: 89.9+ KB

As you can see, there is a column in “Attribute Dataset” named as ‘Size’. This column contains the values in abbreviation format. Write a code in Python to convert the followings:

- M into  “Medium”
- L into  “Large”
- XL into “Extra large”
- free into “Free”
- S, s & small into “Small”.

Now once you are done with changes in the dataset, what is the value of the lowest percentage, the highest percentage and the percentage of Small size categories in the column named “Size”?

In [8]:
# Column fixing, correcting size abbreviation. count the percentage of each size category in "Size" column.
size_map = {
    "M": "Medium",
    "L": "Large",
    "XL": "Extra Large",
    "free": "Free",
    "S": "Small",
    "s": "Small",
    "small": "Small"
}
inp0['Size']=inp0['Size'].replace(size_map,regex=True)

size_counts = inp0['Size'].value_counts()
total_entries = len(inp1)
size_percentages = size_counts / total_entries * 100
lowest_perc = size_percentages.min()
highest_perc = size_percentages.max()
small_perc = size_percentages.get('Small', 0)  # Use 0 if 'Small' is not present

print("Lowest percentage:", lowest_perc, "%")
print("Highest percentage:", highest_perc, "%")
print("Percentage of 'Small' size:", small_perc, "%")

Lowest percentage: 0.20876826722338201 %
Highest percentage: 35.699373695198325 %
Percentage of 'Small' size: 7.306889352818372 %

In [9]:
inp1

,Dress_ID,29-08-2013,31-08-2013,09-02-2013,09-04-2013,09-06-2013,09-08-2013,09-10-2013,09-12-2013,14-09-2013,...,24-09-2013,26-09-2013,28-09-2013,30-09-2013,10-02-2013,10-04-2013,10-06-2013,10-08-2013,10-10-2013,10-12-2013
0,1.006033e+09,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,3554,3624.0,3706,3746.0,3795.0,3832.0,3897,3923.0,3985.0,4048
1,1.212192e+09,151,275,570,750,813,1066,1164,1558,1756,...,2710,2942.0,3258,3354.0,3475.0,3654.0,3911,4024.0,4125.0,4277
2,1.190381e+09,6,7,7,7,8,8,9,10,10,...,11,11.0,11,11.0,11.0,11.0,11,11.0,11.0,11
3,9.660060e+08,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,1878,1892.0,1914,1924.0,1929.0,1941.0,1952,1955.0,1959.0,1963
4,8.763395e+08,996,1175,1304,1396,1432,1559,1570,1638,1655,...,2032,2156.0,2252,2312.0,2387.0,2459.0,2544,2614.0,2693.0,2736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,9.905592e+08,0,0,0,60,62,64,65,67,68,...,73,74.0,75,75.0,76.0,76.0,77,77.0,77.0,77
475,7.133920e+08,0,0,0,560,554,544,537,525,519,...,400,388.0,360,364.0,372.0,377.0,380,382.0,384.0,285
476,5.328743e+08,0,0,0,734,728,726,715,694,690,...,616,597.0,586,569.0,561.0,555.0,551,546.0,535.0,520
477,6.554649e+08,0,0,0,254,259,261,263,268,270,...,257,256.0,255,254.0,253.0,250.0,249,249.0,249.0,248
478,9.199310e+08,0,0,0,538,545,558,563,578,585,...,628,632.0,639,645.0,651.0,655.0,660,668.0,674.0,680

In [10]:
# Print the value counts of each category in "Size" column.
sizecount=inp0['Size'].value_counts()
sizecount

Medium             171
Free               165
Large               93
Small               35
Extra Largearge     14
Smallmall            1
Name: Size, dtype: int64

### Impute/Remove Missing values

In [11]:
# Print the null count of each variables of inp0 and inp1.
null_inp0=inp0.isnull().sum()
null_inp1=inp1.isnull().sum()
print(null_inp0)
print(null_inp1)

Dress_ID            0
Style               0
Price               2
Rating              0
Size                0
Season              2
NeckLine            3
SleeveLength        2
Material          119
FabricType        256
Decoration        224
Pattern Type      102
Recommendation      0
dtype: int64
Dress_ID        0
29-08-2013      0
31-08-2013      0
09-02-2013      0
09-04-2013      0
09-06-2013      0
09-08-2013      0
09-10-2013      0
09-12-2013      0
14-09-2013      0
16-09-2013      0
18-09-2013      0
20-09-2013      0
22-09-2013      0
24-09-2013      0
26-09-2013    222
28-09-2013      0
30-09-2013    257
10-02-2013    259
10-04-2013    258
10-06-2013      0
10-08-2013    255
10-10-2013    255
10-12-2013      0
dtype: int64

You are given another dataset named “Dress Sales”. Now if you observe the datatypes of the columns using ‘inp1.info()’ command, you can identify that there are certain columns defined as object data type though they primarily consist of numeric data.

Now if you try and convert these object data type columns into numeric data type(float), you will come across an error message. Try to correct this error.

In [12]:
# Print the data types information of inp1 i.e. "Dress Sales" data.
inp1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Dress_ID    479 non-null    float64
 1   29-08-2013  479 non-null    int64
 2   31-08-2013  479 non-null    int64
 3   09-02-2013  479 non-null    int64
 4   09-04-2013  479 non-null    int64
 5   09-06-2013  479 non-null    int64
 6   09-08-2013  479 non-null    int64
 7   09-10-2013  479 non-null    int64
 8   09-12-2013  479 non-null    object
 9   14-09-2013  479 non-null    object
 10  16-09-2013  479 non-null    object
 11  18-09-2013  479 non-null    object
 12  20-09-2013  479 non-null    object
 13  22-09-2013  479 non-null    object
 14  24-09-2013  479 non-null    int64
 15  26-09-2013  257 non-null    float64
 16  28-09-2013  479 non-null    int64
 17  30-09-2013  222 non-null    float64
 18  10-02-2013  220 non-null    float64
 19  10-04-2013  221 non-null    float64
 20  10-06-2013  479 non-null    int64
 21  10-08-2013  224 non-null    float64
 22  10-10-2013  224 non-null    float64
 23  10-12-2013  479 non-null    int64
dtypes: float64(7), int64(11), object(6)
memory usage: 89.9+ KB

In [15]:
# Do the required changes in the "Dress Sales" data set to get null values on string values.
date_columns =['09-12-2013', '14-09-2013', '16-09-2013', '18-09-2013', '20-09-2013', '22-09-2013']
for col in date_columns:
    inp1[col] = pd.to_numeric(inp1[col], errors='coerce')
    inp1[col].fillna(0, inplace=True)

In [47]:
# Convert the object type columns in "Dress Sales" into float type of data type.
inp1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Dress_ID    479 non-null    float64
 1   29-08-2013  479 non-null    int64
 2   31-08-2013  479 non-null    int64
 3   09-02-2013  479 non-null    int64
 4   09-04-2013  479 non-null    int64
 5   09-06-2013  479 non-null    int64
 6   09-08-2013  479 non-null    int64
 7   09-10-2013  479 non-null    int64
 8   09-12-2013  479 non-null    float64
 9   14-09-2013  479 non-null    float64
 10  16-09-2013  479 non-null    float64
 11  18-09-2013  479 non-null    float64
 12  20-09-2013  479 non-null    float64
 13  22-09-2013  479 non-null    float64
 14  24-09-2013  479 non-null    int64
 15  28-09-2013  479 non-null    int64
 16  10-06-2013  479 non-null    int64
 17  10-12-2013  479 non-null    int64
dtypes: float64(7), int64(11)
memory usage: 67.5 KB

When you see the null counts in “Dress Sales” dataset after performing all the operations that have been mentioned in jupyter notebook, you will find that there are some columns in “Dress Sales” data where there are more than 40% of missing values. Based on your understanding of dealing with missing values do the following steps.

In [15]:
# Print the null percetange of each column of inp1.
percent_missing = inp1.isnull().mean() * 100

percent_missing

Dress_ID       0.000000
29-08-2013     0.000000
31-08-2013     0.000000
09-02-2013     0.000000
09-04-2013     0.000000
09-06-2013     0.000000
09-08-2013     0.000000
09-10-2013     0.000000
09-12-2013     0.000000
14-09-2013     0.000000
16-09-2013     0.000000
18-09-2013     0.000000
20-09-2013     0.000000
22-09-2013     0.000000
24-09-2013     0.000000
26-09-2013    46.346555
28-09-2013     0.000000
30-09-2013    53.653445
10-02-2013    54.070981
10-04-2013    53.862213
10-06-2013     0.000000
10-08-2013    53.235908
10-10-2013    53.235908
10-12-2013     0.000000
dtype: float64

In [16]:
# Drop the columns in "Dress Sales" which have more than 40% of missing values.
columns_to_drop = percent_missing[percent_missing > 40].index

# Drop the columns
inp1.drop(columns_to_drop, axis=1, inplace=True)

In [17]:
inp1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Dress_ID    479 non-null    float64
 1   29-08-2013  479 non-null    int64
 2   31-08-2013  479 non-null    int64
 3   09-02-2013  479 non-null    int64
 4   09-04-2013  479 non-null    int64
 5   09-06-2013  479 non-null    int64
 6   09-08-2013  479 non-null    int64
 7   09-10-2013  479 non-null    int64
 8   09-12-2013  479 non-null    float64
 9   14-09-2013  479 non-null    float64
 10  16-09-2013  479 non-null    float64
 11  18-09-2013  479 non-null    float64
 12  20-09-2013  479 non-null    float64
 13  22-09-2013  479 non-null    float64
 14  24-09-2013  479 non-null    int64
 15  28-09-2013  479 non-null    int64
 16  10-06-2013  479 non-null    int64
 17  10-12-2013  479 non-null    int64
dtypes: float64(7), int64(11)
memory usage: 67.5 KB

You should categorise the dates into seasons in “Dress Sales” data to simplify the analysis according to the following criteria:
- June, July and August: Summer.
- September, October and November: Autumn.
- December, January and February: WInter.
- March, April and May: Spring.

In [48]:
# Create the four seasons columns in inp1, according to the above criteria.
def get_season(month):
    if month in [6, 7, 8]:
        return 'Summer'
    elif month in [9, 10, 11]:
        return 'Autumn'
    elif month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Spring'

for col in inp1.columns[1:]: 
    # Extract the month from the column name
    month = int(col.split('-')[1])
    season = get_season(month)

In [19]:
# calculate the sum of sales in each seasons in inp1 i.e. "Dress Sales".
season_sales = {
    'Summer': 0,
    'Autumn': 0,
    'Winter': 0,
    'Spring': 0
}

# Calculate the sum of sales for each season
for col in inp1.columns[1:]:  # Skip 'Dress_ID'
    month = int(col.split('-')[1])
    season = get_season(month)
    
    # Sum the sales for the season
    season_sales[season] += inp1[col].sum()

# Print the result
print(season_sales)

{'Summer': 691907, 'Autumn': 1363288.0, 'Winter': 474683.0, 'Spring': 143600}

Now let's merge inp1 with inp0 with left join manner, so that the information of inp0 should remain intact.

In [20]:
# Merge inp0 with inp1 into inp0. this is also called left merge.
inp0 = pd.merge(left=inp0,right=inp1, how='left', left_on='Dress_ID', right_on='Dress_ID')
inp0.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,Material,FabricType,...,09-12-2013,14-09-2013,16-09-2013,18-09-2013,20-09-2013,22-09-2013,24-09-2013,28-09-2013,10-06-2013,10-12-2013
0,1006032852,Sexy,Low,4.6,Medium,Summer,o-neck,sleevless,NaN,chiffon,...,3119.0,3204.0,3277.0,3321.0,3386.0,3479.0,3554,3706,3897,4048
1,1212192089,Casual,Low,0.0,Large,Summer,o-neck,Petal,microfiber,NaN,...,1558.0,1756.0,1878.0,1985.0,2106.0,2454.0,2710,3258,3911,4277
2,1190380701,vintage,High,0.0,Large,Automn,o-neck,full,polyster,NaN,...,10.0,10.0,10.0,10.0,10.0,11.0,11,11,11,11
3,966005983,Brief,Average,4.6,Large,Spring,o-neck,full,silk,chiffon,...,1723.0,1746.0,1783.0,1796.0,1812.0,1845.0,1878,1914,1952,1963
4,876339541,cute,Low,4.5,Medium,Summer,o-neck,butterfly,chiffonfabric,chiffon,...,1638.0,1655.0,1681.0,1743.0,1824.0,1919.0,2032,2252,2544,2736

In [23]:
inp0

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,Material,FabricType,...,09-12-2013,14-09-2013,16-09-2013,18-09-2013,20-09-2013,22-09-2013,24-09-2013,28-09-2013,10-06-2013,10-12-2013
0,1006032852,Sexy,Low,4.6,Medium,Summer,o-neck,sleevless,NaN,chiffon,...,3119.0,3204.0,3277.0,3321.0,3386.0,3479.0,3554,3706,3897,4048
1,1212192089,Casual,Low,0.0,Large,Summer,o-neck,Petal,microfiber,NaN,...,1558.0,1756.0,1878.0,1985.0,2106.0,2454.0,2710,3258,3911,4277
2,1190380701,vintage,High,0.0,Large,Automn,o-neck,full,polyster,NaN,...,10.0,10.0,10.0,10.0,10.0,11.0,11,11,11,11
3,966005983,Brief,Average,4.6,Large,Spring,o-neck,full,silk,chiffon,...,1723.0,1746.0,1783.0,1796.0,1812.0,1845.0,1878,1914,1952,1963
4,876339541,cute,Low,4.5,Medium,Summer,o-neck,butterfly,chiffonfabric,chiffon,...,1638.0,1655.0,1681.0,1743.0,1824.0,1919.0,2032,2252,2544,2736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,990559192,Brief,Average,4.7,Medium,winter,o-neck,halfsleeve,acrylic,chiffon,...,67.0,68.0,69.0,70.0,72.0,73.0,73,75,77,77
475,713391965,Casual,Low,4.7,Medium,Spring,o-neck,full,polyster,NaN,...,525.0,519.0,511.0,501.0,492.0,480.0,400,360,380,285
476,532874347,Casual,Average,4.7,Medium,Summer,v-neck,full,cotton,NaN,...,694.0,690.0,686.0,674.0,665.0,658.0,616,586,551,520
477,655464934,Casual,Average,4.6,Large,winter,boat-neck,sleevless,silk,broadcloth,...,268.0,270.0,272.0,272.0,264.0,264.0,257,255,249,248
478,919930954,Casual,Low,4.4,Free,Summer,v-neck,short,cotton,Corduroy,...,578.0,585.0,590.0,599.0,605.0,619.0,628,639,660,680

In [21]:
# Now Drop the Date columns from inp0 as it is already combined into four seasons.
inp0.drop(inp0.loc[:,'29-08-2013':'10-12-2013'].columns, axis= 1, inplace= True)

C:\Users\babas\AppData\Local\Temp\ipykernel_21844\1210535228.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  inp0.drop(inp0.loc[:,'29-08-2013':'10-12-2013'].columns, axis= 1, inplace= True)

Print the null count of inp0 to get the idea about the missing values in data set.

In [22]:
# Print the null count of each columns in inp0 dataframe i.e. combined data frame of inp0 and inp1 without date columns.
inp0.isnull().sum()

Dress_ID            0
Style               0
Price               2
Rating              0
Size                0
Season              2
NeckLine            3
SleeveLength        2
Material          119
FabricType        256
Decoration        224
Pattern Type      102
Recommendation      0
dtype: int64

You can see that there are two types of variables one with a large number of missing values and another is very less number of missing values. These two columns can be categorized as:

Type-1: Missing values are very less (around 2 or 3 missing values): Price, Season, NeckLine, SleeveLength, Winter and Autumn. 

Type-2: Missing values are large in numbers (more than 15%): Material, FabricType, Decoration and Pattern Type.

In [23]:
# Deal with the missing values of Type-1 columns: Price, Season, NeckLine, SleeveLength, Winter and Autumn.
inp0['Price'].fillna(inp0['Price'].mode(), inplace=True)

inp0['Season'].fillna(inp0['Season'].mode()[0], inplace=True)

inp0['NeckLine'].fillna(inp0['NeckLine'].mode()[0], inplace=True)

inp0['SleeveLength'].fillna(inp0['SleeveLength'].mode()[0], inplace=True)

inp0

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,Medium,Summer,o-neck,sleevless,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,Large,Summer,o-neck,Petal,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,Large,Automn,o-neck,full,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,Large,Spring,o-neck,full,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,Medium,Summer,o-neck,butterfly,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,990559192,Brief,Average,4.7,Medium,winter,o-neck,halfsleeve,acrylic,chiffon,NaN,striped,0
475,713391965,Casual,Low,4.7,Medium,Spring,o-neck,full,polyster,NaN,NaN,solid,1
476,532874347,Casual,Average,4.7,Medium,Summer,v-neck,full,cotton,NaN,lace,solid,1
477,655464934,Casual,Average,4.6,Large,winter,boat-neck,sleevless,silk,broadcloth,applique,print,1
478,919930954,Casual,Low,4.4,Free,Summer,v-neck,short,cotton,Corduroy,lace,solid,0

In [27]:
percent_missing = inp0.isnull().mean() * 100
percent_missing

Dress_ID           0.000000
Style              0.000000
Price              0.417537
Rating             0.000000
Size               0.000000
Season             0.000000
NeckLine           0.000000
SleeveLength       0.000000
Material          24.843424
FabricType        53.444676
Decoration        46.764092
Pattern Type      21.294363
Recommendation     0.000000
dtype: float64

In [49]:
# Deal with the missing values for Type-2 columns: Material, FabricType, Decoration and Pattern Type.
inp0['Material'].fillna(inp0['Material'].mode()[0], inplace=True)
inp0['Pattern Type'].fillna(inp0['Pattern Type'].mode()[0], inplace=True)   
#Using 'Unknown' placeholder for missing values more than 40%
inp0['FabricType'].fillna('Unknown', inplace=True)
inp0['Decoration'].fillna('Unknown', inplace=True)

In [25]:
percent_missing = inp0.isnull().mean() * 100
percent_missing

Dress_ID          0.000000
Style             0.000000
Price             0.417537
Rating            0.000000
Size              0.000000
Season            0.000000
NeckLine          0.000000
SleeveLength      0.000000
Material          0.000000
FabricType        0.000000
Decoration        0.000000
Pattern Type      0.000000
Recommendation    0.000000
dtype: float64

### Standardise value

In the given dataset, there are certain discrepancies with the categorical names such as irregular spellings. Choose the correct option of columns with irregular categories and update them.
 
- Season, NeckLine
- Price, Material
- fabricType, Decoration
- Season, SleeveLength

In [26]:
columns=['Season', 'NeckLine','Price', 'Material', 'Decoration','SleeveLength']
for col in columns:
    unique_values = inp0[col].unique()
    print(f'{col} = {unique_values}\n')

Season = ['Summer' 'Automn' 'Spring' 'Winter' 'spring' 'winter' 'Autumn']

NeckLine = ['o-neck' 'v-neck' 'boat-neck' 'peterpan-collor' 'ruffled'
 'turndowncollor' 'slash-neck' 'mandarin-collor' 'open' 'sqare-collor'
 'Sweetheart' 'sweetheart' 'Scoop' 'halter' 'backless' 'bowneck']

Price = ['Low' 'High' 'Average' 'Medium' 'very-high' nan]

Material = ['cotton' 'microfiber' 'polyster' 'silk' 'chiffonfabric' 'nylon' 'other'
 'milksilk' 'linen' 'rayon' 'lycra' 'mix' 'acrylic' 'spandex' 'lace'
 'modal' 'cashmere' 'viscos' 'sill' 'wool' 'model' 'shiffon']

Decoration = ['ruffles' 'Unknown' 'embroidary' 'bow' 'beading' 'lace' 'sashes'
 'hollowout' 'pockets' 'sequined' 'applique' 'button' 'Tiered' 'rivet'
 'feathers' 'flowers' 'pearls' 'pleat' 'crystal' 'ruched' 'draped'
 'tassel' 'plain' 'cascading' 'none']

SleeveLength = ['sleevless' 'Petal' 'full' 'butterfly' 'short' 'threequarter'
 'halfsleeve' 'cap-sleeves' 'turndowncollor' 'threequater' 'capsleeves'
 'sleeveless' 'sleeevless' 'half' 'urndowncollor' 'thressqatar'
 'sleveless']

In [27]:
#correcting the spellings.
inp0['Season'] = inp0['Season'].str.lower().replace({
    'autum': 'autumn',
    'automn': 'autumn',
    })
inp0['NeckLine']=inp0['NeckLine'].str.lower()
inp0['Price']=inp0['Price'].str.lower()
inp0['Material']=inp0['Material'].str.lower()
inp0['Decoration']=inp0['Decoration'].str.lower()
inp0['SleeveLength ']=inp0['SleeveLength'].str.lower().replace({
    'sleevless':'sleeveless',
    'sleeevless':'sleeveless',
    'sleveless':'sleeveless',
    'cap-sleeves':'capsleeves',
'threequarter':'thressqatar',})

In [28]:
#correcting the Spellings.

There is a column named ‘Style’ in ‘Attribute Dataset’ which consists of the different style categories of the women apparels. Certain categories whose total sale is less than 50000 across all the seasons is considered under one single category as ‘Others’.

Which of the following categories in ‘Style’ column can be grouped into ‘Others’ category? and perform the grouping operation in the notebook for further analysis.
- Flare, fashion
- Novelty, bohemian
- OL, fashion, work
- Novelty, fashion, Flare

In [29]:
inp3 = pd.merge(left=inp0,right=inp1, how='left', left_on='Dress_ID', right_on='Dress_ID')

In [30]:
def group_and_calculate_percentage(df, column_name, threshold=50000):
    # Melt the DataFrame to have one row per sale entry
    melted_df = df.melt(id_vars=['Dress_ID', column_name], var_name='Date', value_name='Sales')

    # Function to extract month and determine season
    def extract_month(date_str):
        try:
            return int(date_str.split('-')[1])
        except (IndexError, ValueError):
            return None

    melted_df['Month'] = melted_df['Date'].apply(extract_month)

    # Remove rows where month extraction failed
    melted_df = melted_df.dropna(subset=['Month'])

    def get_season(month):
        if month in [6, 7, 8]:
            return 'Summer'
        elif month in [9, 10, 11]:
            return 'Autumn'
        elif month in [12, 1, 2]:
            return 'Winter'
        elif month in [3, 4, 5]:
            return 'Spring'

    melted_df['Season'] = melted_df['Month'].apply(get_season)

    # Calculate the total sales for each category across all seasons
    total_sales_per_category = melted_df.groupby(column_name)['Sales'].sum().reset_index()

    # Identify categories with total sales less than threshold
    categories_to_group = total_sales_per_category[total_sales_per_category['Sales'] < threshold][column_name].tolist()

    # Replace those categories with "Others"
    melted_df[column_name] = melted_df[column_name].apply(lambda x: 'Others' if x in categories_to_group else x)

    # Group by the specified column and Season, and sum the sales
    grouped_sales = melted_df.groupby([column_name, 'Season'])['Sales'].sum().reset_index()

    # Calculate the total sales for each category
    category_totals = grouped_sales.groupby(column_name)['Sales'].sum().reset_index()

    # Calculate the percentage of each category
    grouped_sales = grouped_sales.merge(category_totals, on=column_name, suffixes=('', '_Total'))
    grouped_sales['Percentage'] = (grouped_sales['Sales'] / grouped_sales['Sales_Total']) * 100

    # Return only the grouped columns and percentage
    return grouped_sales[[column_name, 'Season', 'Percentage']]

In [31]:
# Group "Style" categories into "Others" which have less than 50000 sales across all the seasons.
threshold_value = 50000  # Change threshold as needed
result_Style = group_and_calculate_percentage(inp3, 'Style', threshold=threshold_value)
print("Style Sales Grouped by Season and Percentage")
print(result_Style)

Style Sales Grouped by Season and Percentage
       Style  Season Percentage
0      Brief  Autumn  50.005013
1      Brief  Spring   5.359956
2      Brief  Summer  26.715988
3      Brief  Winter  17.919042
4     Casual  Autumn  51.368781
5     Casual  Spring   5.525229
6     Casual  Summer  25.626827
7     Casual  Winter  17.479163
8     Others  Autumn  55.314777
9     Others  Spring   4.159661
10    Others  Summer  21.614048
11    Others  Winter  18.911514
12      Sexy  Autumn  50.966444
13      Sexy  Spring   5.184256
14      Sexy  Summer  25.885944
15      Sexy  Winter  17.963356
16  bohemian  Autumn  54.177699
17  bohemian  Spring   5.497924
18  bohemian  Summer  23.321325
19  bohemian  Winter  17.003053
20      cute  Autumn  49.767683
21      cute  Spring   5.543278
22      cute  Summer  27.062559
23      cute  Winter  17.626481
24     party  Autumn  52.201461
25     party  Spring   5.539838
26     party  Summer  24.867425
27     party  Winter  17.391276
28      sexy  Autumn  49.799356
29      sexy  Spring   4.821881
30      sexy  Summer  26.167214
31      sexy  Winter  19.211549
32   vintage  Autumn  50.637966
33   vintage  Spring   4.814093
34   vintage  Summer  25.943381
35   vintage  Winter  18.604561
36      work  Autumn  49.829744
37      work  Spring   5.255921
38      work  Summer  26.780171
39      work  Winter  18.134164

What is the percentage of “cute” and “Others” category in “Style” column in “Attribute DataSet” respectively?
- 46%, 5%
- 9%, 2.1%
- 2.1%, 5%
- 13.8%, 9%

In [32]:
# Calculate the percentage of each categories in the "Style" variable.
total_sales_all_styles = total_sales_per_style['Sales'].sum()

# Calculate the percentage of sales for each style
total_sales_per_style['Percentage'] = (total_sales_per_style['Sales'] / total_sales_all_styles) * 100

# Print the result
print(total_sales_per_style[['Style', 'Percentage']])

NameError: name 'total_sales_per_style' is not defined

Similarly Club Neckline, SLeeve length categories into "Others" which have less than 50000 sales across all the seasons.

In [33]:
# Group "Neckline" categories into "Others" which have less than 50000 sales across all the seasons.

threshold_value = 50000  # Change threshold as needed
result_SleeveLength = group_and_calculate_percentage(inp3, 'SleeveLength', threshold=threshold_value)
print("Neckline Sales Grouped by Season and Percentage")
print(result_SleeveLength)

Neckline Sales Grouped by Season and Percentage
    SleeveLength  Season Percentage
0         Others  Autumn  54.946452
1         Others  Spring    4.64717
2         Others  Summer  22.273025
3         Others  Winter  18.133354
4           full  Autumn  51.079929
5           full  Spring   5.471484
6           full  Summer  25.769142
7           full  Winter  17.679445
8     halfsleeve  Autumn  50.533089
9     halfsleeve  Spring   5.696727
10    halfsleeve  Summer  26.536367
11    halfsleeve  Winter  17.233817
12         short  Autumn  49.964662
13         short  Spring   5.378162
14         short  Summer  26.771293
15         short  Winter  17.885883
16     sleevless  Autumn  51.955122
17     sleevless  Spring   5.285426
18     sleevless  Summer  25.064595
19     sleevless  Winter  17.694857
20  threequarter  Autumn   48.29387
21  threequarter  Spring   5.555813
22  threequarter  Summer  28.060331
23  threequarter  Winter  18.089987

In [34]:
# Group "Sleeve length" categories into "Others" which have less than 50000 sales across all the seasons.
threshold_value = 50000  # Change threshold as needed
result_neckline = group_and_calculate_percentage(inp3, 'NeckLine', threshold=threshold_value)
print("Sleeve length Sales Grouped by Season and Percentage")
print(result_neckline)

Sleeve length Sales Grouped by Season and Percentage
          NeckLine  Season Percentage
0           Others  Autumn  53.129863
1           Others  Spring   5.905891
2           Others  Summer  24.393294
3           Others  Winter  16.570952
4        boat-neck  Autumn  52.721069
5        boat-neck  Spring   5.247978
6        boat-neck  Summer  24.565967
7        boat-neck  Winter  17.464985
8           o-neck  Autumn  51.040594
9           o-neck  Spring   5.258778
10          o-neck  Summer  25.804364
11          o-neck  Winter  17.896264
12         ruffled  Autumn  46.716188
13         ruffled  Spring   6.203363
14         ruffled  Summer  29.929083
15         ruffled  Winter  17.151366
16      slash-neck  Autumn  53.469501
17      slash-neck  Spring   5.652377
18      slash-neck  Summer  23.995555
19      slash-neck  Winter  16.882566
20  turndowncollor  Autumn  50.556237
21  turndowncollor  Spring   5.101028
22  turndowncollor  Summer  26.023417
23  turndowncollor  Winter  18.319318
24          v-neck  Autumn   50.93334
25          v-neck  Spring   5.440879
26          v-neck  Summer  25.874559
27          v-neck  Winter  17.751221

Club material, fabrictype, patterntype and decoration categories into "Others" which have less than 25000 sales across all the seasons

In [35]:
# Group "fabric type" categories into "Others" which have less than 25000 sales across all the seasons.
threshold_value = 25000  # Change threshold as needed
result_FabricType = group_and_calculate_percentage(inp3, 'FabricType', threshold=threshold_value)
print("FabricType Sales Grouped by Season and Percentage")
print(result_FabricType)

FabricType Sales Grouped by Season and Percentage
    FabricType  Season Percentage
0       Others  Autumn  52.164743
1       Others  Spring   5.152512
2       Others  Summer  24.498218
3       Others  Winter  18.184528
4      Unknown  Autumn   51.44912
5      Unknown  Spring   5.300832
6      Unknown  Summer  25.436223
7      Unknown  Winter  17.813824
8   broadcloth  Autumn  51.289188
9   broadcloth  Spring   5.124252
10  broadcloth  Summer   25.59876
11  broadcloth  Winter    17.9878
12     chiffon  Autumn  50.400563
13     chiffon  Spring   5.497791
14     chiffon  Summer  26.479635
15     chiffon  Winter  17.622011
16      jersey  Autumn  49.486461
17      jersey  Spring   5.382987
18      jersey  Summer  27.206716
19      jersey  Winter  17.923836
20     shiffon  Autumn  55.679255
21     shiffon  Spring   6.141308
22     shiffon  Summer  22.447792
23     shiffon  Winter  15.731645
24     worsted  Autumn  50.372692
25     worsted  Spring   5.187719
26     worsted  Summer  26.280699
27     worsted  Winter   18.15889

In [36]:
# Group "patern type" categories into "Others" which have less than 25000 sales across all the seasons.
threshold_value = 25000  # Change threshold as needed
result_Pattern_Type = group_and_calculate_percentage(inp3, 'Pattern Type', threshold=threshold_value)
print("Pattern Type Sales Grouped by Season and Percentage")
print(result_Pattern_Type)

Pattern Type Sales Grouped by Season and Percentage
   Pattern Type  Season Percentage
0        Others  Autumn  53.503569
1        Others  Spring   5.217654
2        Others  Summer  23.799471
3        Others  Winter  17.479307
4        animal  Autumn   50.93126
5        animal  Spring    4.71854
6        animal  Summer  25.547514
7        animal  Winter  18.802687
8           dot  Autumn  47.888335
9           dot  Spring    5.78275
10          dot  Summer  28.710561
11          dot  Winter  17.618354
12    geometric  Autumn  47.344208
13    geometric  Spring   5.758517
14    geometric  Summer  28.862553
15    geometric  Winter  18.034723
16      leopard  Autumn  48.161634
17      leopard  Spring   4.606799
18      leopard  Summer   27.35584
19      leopard  Winter  19.875727
20    patchwork  Autumn  51.603691
21    patchwork  Spring    5.37066
22    patchwork  Summer  25.425989
23    patchwork  Winter   17.59966
24        print  Autumn  50.709013
25        print  Spring   5.190001
26        print  Summer   26.06811
27        print  Winter  18.032876
28        solid  Autumn  51.789286
29        solid  Spring   5.463787
30        solid  Summer   25.25465
31        solid  Winter  17.492277
32      striped  Autumn  52.243119
33      striped  Spring   4.742917
34      striped  Summer  24.954395
35      striped  Winter  18.059569

In [37]:
# Group "decoration" categories into "Others" which have less than 25000 sales across all the seasons.
threshold_value = 25000  # Change threshold as needed
result_Decoration = group_and_calculate_percentage(inp3, 'Decoration', threshold=threshold_value)
print("Decoration Sales Grouped by Season and Percentage")
print(result_Decoration)

Decoration Sales Grouped by Season and Percentage
    Decoration  Season Percentage
0       Others  Autumn  53.263438
1       Others  Spring   5.875014
2       Others  Summer  24.176705
3       Others  Winter  16.684843
4     applique  Autumn  51.363576
5     applique  Spring   4.944529
6     applique  Summer   25.35176
7     applique  Winter  18.340135
8      beading  Autumn  51.519633
9      beading  Spring   5.186623
10     beading  Summer  25.395505
11     beading  Winter  17.898239
12         bow  Autumn  48.130671
13         bow  Spring   5.918726
14         bow  Summer  28.537079
15         bow  Winter  17.413524
16  embroidary  Autumn   52.22028
17  embroidary  Spring   4.698427
18  embroidary  Summer  24.737762
19  embroidary  Winter  18.343531
20   hollowout  Autumn   52.84542
21   hollowout  Spring   4.821571
22   hollowout  Summer  24.199357
23   hollowout  Winter  18.133652
24        lace  Autumn  50.152814
25        lace  Spring   5.426008
26        lace  Summer  26.495258
27        lace  Winter   17.92592
28     ruffles  Autumn  51.247208
29     ruffles  Spring     4.6091
30     ruffles  Summer  25.234456
31     ruffles  Winter  18.909235
32      sashes  Autumn  51.011867
33      sashes  Spring   5.410153
34      sashes  Summer  26.053773
35      sashes  Winter  17.524207
36    sequined  Autumn  51.426107
37    sequined  Spring   5.209553
38    sequined  Summer  25.347543
39    sequined  Winter  18.016797
40     unknown  Autumn  51.445004
41     unknown  Spring   5.396232
42     unknown  Summer  25.516748
43     unknown  Winter  17.642017

### Caregorical Ordered Univariate Analysis

Which of the following is an unordered variable in “Attribute DataSet”.
- Style
- Price
- Season
- Size

Style is unordered remaining all are ordered

In [38]:


# Function to determine season based on month
def get_season(month):
    if month in [6, 7, 8]:
        return 'Summer'
    elif month in [9, 10, 11]:
        return 'Autumn'
    elif month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Spring'

# Initialize new columns for each season with 0
inp3['Summer'] = 0
inp3['Autumn'] = 0
inp3['Winter'] = 0
inp3['Spring'] = 0

# Iterate over the columns and accumulate values into respective season columns
for col in inp3.columns[1:]:
    # Check if the column name has the expected date format
    if len(col.split('-')) == 3:
        try:
            month = int(col.split('-')[1])
            season = get_season(month)
            # Add the sales values to the corresponding season column
            inp3[season] += inp3[col]
        except ValueError:
            continue

# Drop original date columns if not needed
inp3.drop(columns=inp3.columns[1:-4], inplace=True)

# Display the resulting DataFrame
print(inp3)

       Dress_ID  Summer   Autumn  Winter  Spring
0    1006032852   13899  26857.0  9658.0    2660
1    1212192089    6216  17311.0  6405.0     750
2    1190380701      40     82.0    28.0       7
3     966005983    7213  14411.0  5012.0    1455
4     876339541    7706  14676.0  5678.0    1396
..          ...     ...      ...     ...     ...
474   990559192     203    565.0   144.0      60
475   713391965    1478   3800.0   810.0     560
476   532874347    2005   5290.0  1214.0     734
477   655464934     769   2117.0   516.0     254
478   919930954    1763   4828.0  1258.0     538

[479 rows x 5 columns]

### Numerical variable Univariate analysis:

What is the approximate difference between the maximum value and 75th percentile in “Autumn” column.
- Approx 54000
- Approx 55000
- Approx 52000
- Approx 50000

In [39]:
import numpy as np
# Calculate the 75th percentile of the "Autumn" column
percentile_75 = np.percentile(inp3['Autumn'].dropna(), 75)

# Calculate the maximum value in the "Autumn" column
max_value = inp3['Autumn'].max()

# Calculate the approximate difference
difference = max_value - percentile_75

print(f"Approximate difference between maximum and 75th percentile in 'Autumn' column: {difference}")

Approximate difference between maximum and 75th percentile in 'Autumn' column: 52406.0

In [40]:
# Describe the numerical variale: "Autumn".
inp3['Autumn'].describe()

count      479.000000
mean      2846.112735
std       5004.985872
min          1.000000
25%        410.500000
50%       1334.000000
75%       3126.000000
max      55532.000000
Name: Autumn, dtype: float64

In [41]:
# plot the boxplot of "Autumn" column.
df = pd.DataFrame(inp3)

# Plotting the boxplot of the "Autumn" column
plt.figure(figsize=(8, 6))
sns.boxplot(x=df['Autumn'])
plt.title('Boxplot of Autumn Column')
plt.xlabel('Autumn')
plt.grid(True)
plt.savefig('boxplot.png')
print("Boxplot saved as 'boxplot.png'.")

Boxplot saved as 'boxplot.png'.

Which of the following season has the highest difference between the maximum value and 99th quantile of sales?
- Winter
- Summer
- Spring
- Autumn

In [42]:
max_values = {}
quantile_99 = {}
for season in ['Summer', 'Autumn', 'Winter', 'Spring']:
    max_values[season] = df[season].max()
    quantile_99[season] = np.percentile(df[season].dropna(), 99)

# Calculate differences
differences = {season: max_values[season] - quantile_99[season] for season in ['Summer', 'Autumn', 'Winter', 'Spring']}

# Determine the season with the highest difference
season_with_highest_difference = max(differences, key=differences.get)
highest_difference = differences[season_with_highest_difference]

print(f"Season with the highest difference: {season_with_highest_difference}")
print(f"Highest difference between max and 99th quantile: {highest_difference}")

Season with the highest difference: Autumn
Highest difference between max and 99th quantile: 31571.600000000064

In [43]:
# Find the maximum and 50th percentile of Winter season.
max_winter = inp3['Winter'].max()
percentile_50 = np.percentile(inp3['Winter'].dropna(), 50)

print(f"Maximum value of Winter column: {max_winter}")
print(f"50th percentile (median) of Winter column: {percentile_50}")

Maximum value of Winter column: 20388.0
50th percentile (median) of Winter column: 402.0

In [44]:
# Find the maximum and 50th percentile of Summer season.
max_Summer = inp3['Summer'].max()
percentile_50 = np.percentile(inp3['Summer'].dropna(), 50)

print(f"Maximum value of Summer column: {max_Summer}")
print(f"50th percentile (median) of Summer column: {percentile_50}")

Maximum value of Summer column: 35577
50th percentile (median) of Summer column: 518.0

In [45]:
# Find the maximum and 50th percentile of Spring season.
max_Spring = inp3['Spring'].max()
percentile_50 = np.percentile(inp3['Spring'].dropna(), 50)

print(f"Maximum value of Winter column: {max_Spring}")
print(f"50th percentile (median) of Spring column: {percentile_50}")

Maximum value of Winter column: 7374
50th percentile (median) of Spring column: 110.0

In [46]:
# Find the maximum and 50th percentile of Autumn season.
max_Autumn = inp3['Autumn'].max()
percentile_50 = np.percentile(inp3['Autumn'].dropna(), 50)

print(f"Maximum value of Autumn column: {max_Autumn}")
print(f"50th percentile (median) of Autumn column: {percentile_50}")

Maximum value of Autumn column: 55532.0
50th percentile (median) of Autumn column: 1334.0